[Unit]
Description=My Laravel Group Buy Server
After=syslog.target

[Service]
User=root
Restart=always
RestartSec=3
ExecStart=<YOUR_PATH>/start-laravel-group-buy-service.sh

[Install]
WantedBy=multi-user.target

